
.main,.head1{
    background-color: rgb(246, 238, 218);
    margin-bottom: 20px;
    background-size: cover;
    width: 100%;
    height: 80px;
    text-align: center;
    

}
.nav{
    
    position: sticky;
    z-index: 1000px;
    top: 0;
    
    
}
.search input,select{
   padding: 10px 30px;
   font-size: 20px;
   
   


}
.search :hover{
    background-color: aliceblue;
    
}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 380px;
    padding-right: 350px;
    gap: 60px;
    margin-right: 100px;
   
    
    
}
.nav ul li{
    margin: 0px 10px;
    
}

.nav ul li a{
    color: rgb(16, 15, 15);
   
    font-size: 17px;
    font-weight: bold;
    
   
   
}
.nav ul li a:hover{
   color: rgb(178, 14, 14);
}



 .main1{
    display:flex;
    
    background-color: antiquewhite;
    width: 100%;
    height:500px;
    margin-top: -25px;
   
 }
 
 .sideimg img{
    border-radius: 50%;
    padding: 50px;
    height: 400px;
    width: 500px;
    margin-left: 200px;
 }
 .title h1{
    font-size: 50px;
    padding: 70px 70px 10px 70px;
    text-shadow: 1px 1px rgb(78, 73, 73);

 }
 p{
    margin-left: 20px;
 }
 .btn1{
    margin-top: -60px;
    margin-left: -400px;
    
    
    
 }
 .btn1 input,select{
    padding: 10px 30px;
    font-size: 24px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 8px 8px rgb(227, 209, 177);
 }
 .btn1 :hover{
    background-color: aliceblue;
 }
 .menu{
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 800px;
    
    display: flex;
    
    
 }
 
 .m1{
    
    padding: 30px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(228, 196, 196);
    margin-bottom: 50px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 3);
 }
 .m1 img{
    height: 150px;
    width: 200px;
    text-align: center;
    
    border-radius: 50px;

 }
 .m1 input,select{
    padding: 10px 30px;
    font-size: 15px;
    
    border-radius: 20px;
    box-shadow: 8px 8px rgb(103, 101, 100);
 }
 .m1 input,select :hover{
   background-color: rgb(243, 228, 179);
 }
.h6{
   background-color: white;
   
}
 
 h6{
   margin-left: 500px;
   padding: 10px 10px 20px 10px;
   font-size: 40px;
   margin-top: 20px;
   
 }
 .main2{
   display:flex;
   background-color:antiquewhite;
   margin-top: -100px;

    
    
   
 }
 .im3 img{
   padding: 50px;
   margin-top: -30px;
   border-radius: 70%;
    
 }
 .submenu1{
   padding: 30px;
   text-align: left;
   gap: 10px;
   font-size:14px;
   margin-top: -10px;
   
   

 }
 .submenu img{
   border-radius: 70%;
   text-align: center;
   padding-top: -10px;
 }

 .pmenu{
   display: flex;
   padding: 30px;
    
    
    text-align: center;
    background-color: rgb(206, 240, 244);
    margin-bottom: 50px;
    margin-top: 30px;
 }
 h5{
   margin-left: 500px;
   padding: 10px 10px 20px 10px;
   font-size: 40px;
   margin-bottom: -10px;
 }
 .sub{
   display: flex;
   
   margin-top: -20px;
  
 }
 .subs{
   font-size: 30px;
   margin-left: 100px;
 }
   .sub,.em{
   font-size: 15px;
   padding: 10px;
   margin-left: 300px; 
   
   
 }
 .bt{
   font-size: 15px;
   padding: 10px;
   
   background-color: orange;
   border: 4px solid orange;
   
 } 

 /* about css */
 .main,.head1{
   background-color: rgb(246, 238, 218);
   margin-bottom: 20px;
   background-size: cover;
   width: 100%;
   height: 80px;
   text-align: center;
   

}
header{
   position:fixed;
   margin-top: -8px;
   

   
}
.nav{
   padding:2px;
   
   
}
.search input,select{
  padding: 10px 30px;
  font-size: 20px;
  
  


}
.search :hover{
   background-color: aliceblue;
   
}
.nav ul{
   display: flex;
   list-style: none;
   justify-content: center;
   margin-left: 380px;
   padding-right: 350px;
   gap: 60px;
   margin-right: 100px;
  
   
   
}
.nav ul li{
   margin: 0px 10px;
   padding-top: 15px;
   
}
.nav ul li a{
   color: rgb(16, 15, 15);
  

   font-weight: bold;
  
  
}


.about1{
   display: flex;
   background-color: rgb(177, 199, 217);
   
  
}
.content{
   margin-top: 50px;
   padding: 0 200px 0 90px ;
}
.aboutimg{
   margin-top: 150px;
   margin-right: 50px;
   padding-right: 100px;
   
   
}
.chef1{
   padding: 20px;
   margin: 30px;
   background-color: rgb(228, 196, 196);
   text-align: center;
   border-radius: 40px;
   box-shadow: 0px 0px 10px rgba(0,0,0, 3);
   
   
}

h1{
   margin-top: 80px;
   text-align: center;
   font-size: 40px;
}
.chefs{
   display: flex;
   margin-top: 30px;
   
}
.story{
   margin-top: -10px;
}


.row2{
   display: flex;
   text-align: center;
   margin-top: 10px;
   padding: 30px;
   margin-left: 250px;  
   gap: 100px;
   border-radius: 8px; 
   box-shadow: 10px rgb(147, 113, 88);
   
}
.row3{
   display: flex;
   text-align: center;
   margin-top: 10px;
   padding: 30px;
   margin-left: 250px;  
   gap: 100px;
   border-radius: 8px; 
   box-shadow: 10px rgb(147, 113, 88);
   
}
.food1{
   margin: 20px 20px;
   margin-top: 50px;
   padding: 10px;
   background-color: rgb(234, 200, 211);
   box-shadow: 10px 10px rgb(197, 193, 193);
   margin-left: 30px;
}
.food1 img:hover{
   transform: scale(1.1);
}
.food1 input,select{
   font-size: larger;
   border-radius: 10px;
   background-color: rgb(230, 217, 242);
}



 .ourmenu{
  
   font-size: 40px;
   text-align: center;
   margin-bottom: -20px;
   
   
}



/* services css */
.services{
   display: flex;
   
   
   
}

.service1{
 
   text-align: center;
   margin-top: 50px;
   padding: 40px;
   margin-left: 50px;  
   gap: 70px;
   border-radius: 10px; 
   background-color: rgb(228, 242, 242);
   margin-right: 40px;
   box-shadow: 0px 0px 10px rgba(0,0,0, 3);
   
}


/* contact css */

.map{
   display: flex;
}
.map1{
   margin-left: 100px;
   border: 1px solid black;
   margin-right: 90px;
   padding: 10px;
   margin-top: 20px;
   background-color: rgb(214, 244, 234);
}
input,select{
   font-size: 12px;
}
.map1 input,select btn{
   border: 1px solid orange;
   background-color: orange;
   padding: 15px 60px;
   margin-left: 200px;
   border-radius: 10px;
}

.contact{
   display: flex;
   margin-top: 30px;
   background-color: rgb(33, 33, 67);
}
.contact input,select btn{
   background-color: orange;
   font-size: 20px;
   border-radius: 20px;
}
.list1{
   padding: 50px;
   color: white;
}
.list1 img{
   height: 20px;
   width: 20px;
   padding: 0 15px;
}
.list1 h2{
   font-family:Arial, Helvetica, sans-serif;
}

/* booking css */


.book{
   
   border-radius: 15px;
   margin: 50px 500px 300px 500px;
   padding: 30px;
   font-size: 30px;
   background-color: rgb(242, 202, 217);
   box-shadow: 0px 0px 20px rgba(0,0,0, 3);
 
}
.book input,select{
   
   font-size: 20px;
   counter-reset: white;
}
.ordernow{
   margin-left: 100px;
   padding: 10px 20px;
   background-color: orange;
   border: 3px solid orange;
   
   border-radius: 10px;
  
}


